<div class="row">
    <div class="col-8">
        <h1>Bienvenidos</h1>
        <p>{{capitalizar 'hOla, sOY niColaS' }}</p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpg" alt="img-thumbnail">
    </div>
</div>
